  <!doctype html>
  <html>
  <head>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <a class="label label-primary"  onclick="myFunction({{autotext}})" > Compare</a>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
    <script src="static/hello.js"></script>
    <script>

    function myFunction(x) {
        $.getJSON($SCRIPT_ROOT + '/check_selected', {
        post: x
        }, function(data) {
            var response = data.result;
            console.log(response);

        });
      }
    </script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  </body>
  </html>
